Repository fengyj/leropilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, eslint, prettier

ruff:
  name: ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy .
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c "cd frontend && npm run format"
  language: system
  pass_filenames: false

Fix lint errors: accessibility, setState in useEffect, unused vars, formatting
  docs/environment-management-ai-guide.md
  docs/ffmpeg_installation_strategy.md
  docs/git_installation_strategy.md
  docs/gui_sudo_password_handling.md
  docs/lerobot_extras.yaml
  docs/lerobot_version_research.md
  docs/lerobot_versions.yaml
  docs/spec/environment-creation-complete-spec.md
  docs/spec/installation-process-logic.md
  docs/spec/syntax-highlighting-implementation.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/code-editor/code-editor.tsx
  frontend/src/components/code-editor/index.ts
  frontend/src/components/code-editor/log-viewer.tsx
  frontend/src/components/environments/environment-installation.tsx
  frontend/src/components/environments/wizard/mock-data.ts
  frontend/src/components/environments/wizard/step-extras-selection.tsx
  frontend/src/components/environments/wizard/step-hardware-selection.tsx
  frontend/src/components/environments/wizard/step-name-config.tsx
  frontend/src/components/environments/wizard/step-repo-selection.tsx
  frontend/src/components/environments/wizard/step-review.tsx
  frontend/src/components/environments/wizard/step-version-selection.tsx
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/advanced-installation-page.tsx
  frontend/src/pages/environment-installation-page.tsx
  frontend/src/pages/environment-wizard.tsx
  frontend/src/stores/environment-wizard-store.ts
Due: eslint, prettier

feat: implement dropdown menu component and integrate into environment list page
  fix_env_status.py
  frontend/src/components/WebTerminal.tsx
  frontend/src/components/environments/wizard/step-name-config.tsx
  frontend/src/components/environments/wizard/step-version-selection.tsx
  frontend/src/components/repository-status-button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/environment-installation-page.tsx
  frontend/src/pages/environment-list-page.tsx
  frontend/src/stores/environment-wizard-store.ts
  reproduce_issue.py
  src/leropilot/models/api/environment.py
  src/leropilot/routers/environments_api.py
  src/leropilot/services/environment/executor.py
  src/leropilot/services/environment/manager.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Add vulture as a development dependency
  README.md
  docs/wiki/Configuration.md
  docs/wiki/Configuration_zh.md
  docs/wiki/Home.md
  docs/wiki/Home_zh.md
  docs/wiki/Installation-Guide.md
  docs/wiki/Installation-Guide_zh.md
  fix_env_status.py
  frontend/lint_output.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/repository-status-button.tsx
  frontend/src/hooks/useGitValidation.ts
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/settings-page.tsx.old
  frontend/src/pages/settings-page/hooks/use-settings.ts
  frontend/src/pages/settings-page/index.tsx
  frontend/src/pages/settings-page/sections/AdvancedSection.tsx
  frontend/src/pages/settings-page/sections/AppearanceSection.tsx
  frontend/src/pages/settings-page/sections/GitSection.tsx
  frontend/src/pages/settings-page/sections/HuggingFaceSection.tsx
  frontend/src/pages/settings-page/sections/LanguageSection.tsx
  frontend/src/pages/settings-page/sections/PathsSection.tsx
  frontend/src/pages/settings-page/sections/PyPISection.tsx
  frontend/src/pages/settings-page/sections/RepositoriesSection.tsx
  frontend/src/pages/settings-page/types.ts
  frontend/src/types/api.ts
  pyproject.toml
  reproduce_install.py
  reproduce_issue.py
  src/leropilot/main.py
  src/leropilot/models/app_config.py
  src/leropilot/resources/shells/shellIntegration.ps1
  src/leropilot/routers/environments_api.py
  src/leropilot/services/environment/executor.py
  test_installation.py
  uv.lock
Due: ruff, ruff-format, mypy, eslint, prettier

refactor: Update API endpoint references from '/api/config' to '/api/app-config' in tests
  electron/main.js
  frontend/tests/contexts/theme-context.test.tsx
  frontend/tests/pages/settings-page.test.tsx
Due: eslint, prettier

feat: Implement resource and static directory utilities for compatibility with PyInstaller
  src/leropilot/core/app_config.py
  src/leropilot/main.py
  src/leropilot/routers/environments_api.py
  src/leropilot/routers/repositories_api.py
  src/leropilot/services/git/tools.py
  src/leropilot/utils/__init__.py
  src/leropilot/utils/paths.py
  tests/test_preset_config.py
Due: ruff, ruff-format, mypy

feat: Add splash window for startup and improve backend error handling
  electron/main.js
Due: eslint, prettier

feat: Enhance splash window with logo and updated color scheme; refactor session.py imports
  electron/main.js
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Update splash window to use base64 icon and adjust dimensions; refactor import paths in main.py
  electron/main.js
  src/leropilot/main.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Implement graceful shutdown for Python backend on app quit; enhance config persistence for first-time users
  electron/main.js
  src/leropilot/core/app_config.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Add logging for configuration loading and preset application; enhance error handling in AppConfigManager
  src/leropilot/core/app_config.py
  src/leropilot/main.py
Due: ruff, ruff-format, mypy

feat: Enhance build specifications for PyInstaller; improve logging in configuration API
  .github/workflows/build-matrix.yml
  src/leropilot/routers/app_config_api.py
Due: ruff, ruff-format, mypy

feat: Enhance configuration management by detecting system language for UI settings; improve logging in AppConfigManager
  src/leropilot/core/app_config.py
  src/leropilot/core/repo.py
  src/leropilot/routers/environments_api.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Improve handling of pyproject.toml decoding; switch to Popen for better compatibility on Windows
  src/leropilot/core/repo.py
Due: ruff, ruff-format, mypy

feat: Improve pyproject.toml extraction using git archive for better compatibility; enhance PTY session handling on Windows
  src/leropilot/core/repo.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Refactor PTY handling for Windows to use low-level PTY class; improve shell spawning and error handling
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Enhance Linux installation instructions with tar.gz and AppImage options; update Chinese version accordingly
  docs/wiki/Installation-Guide.md
  docs/wiki/Installation-Guide_zh.md
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy, prettier

feat: Improve PTY read loop with non-blocking reads and enhanced logging; reduce busy-waiting
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

fix: Update logging message in PTY read loop for clarity
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

add log
  scripts/test_winpty.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

del
  scripts/test_winpty.py
Due: ruff, ruff-format, mypy

feat: Add debug print statements for PTY session lifecycle and process checks
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

fix
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Improve Windows PTY shell spawning and resizing error handling
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Enhance Windows PTY spawn process with detailed logging and error handling
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Implement workaround for Windows PTY spawn CWD handling and improve logging
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Refactor Windows PTY handling to use PtyProcess for improved compatibility and error management
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Enhance error handling during PTY spawn fallback to cmd.exe with detailed logging
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Explicitly pass environment variables to PtyProcess.spawn() to prevent crashes on Windows
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Enhance Windows PTY spawn with detailed logging and ConPTY backend support
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Refactor PTY spawn logic to improve backend handling and logging
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Add fallback to PowerShell if cmd.exe fails during PTY spawn with ConPTY
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Improve PowerShell fallback handling during PTY spawn with enhanced logging and initialization delay
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Add support for winpty binaries in Windows PTY handling during PyInstaller build
  .github/workflows/build-matrix.yml
Due: none

feat: Add winpty binary collection test script and CI workflow step
  .github/workflows/build-matrix.yml
  scripts/test_winpty_collection.py
Due: ruff, ruff-format, mypy

feat: Standardize output messages in winpty collection test script
  scripts/test_winpty_collection.py
Due: ruff, ruff-format, mypy

feat: Inline winpty binary collection for improved reliability during PyInstaller build
  .github/workflows/build-matrix.yml
Due: none

feat: Enhance logging for winpty DLL collection in build process
  .github/workflows/build-matrix.yml
Due: none

feat: Enhance winpty handling and verification in build process
  .github/workflows/build-matrix.yml
Due: none

feat: Update PTY session handling for improved shell integration and diagnostics
  scripts/test_winpty_collection.py
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  eslint: any of: \.(js|ts|jsx|tsx)$
  prettier: any of: \.(js|ts|jsx|tsx|json|css|scss|md)$
