Repository fengyj/leropilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, eslint, prettier

ruff:
  name: ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy .
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c "cd frontend && npm run format"
  language: system
  pass_filenames: false

feat: Ensure directory creation for Python distribution in backend build process
  .github/workflows/build-matrix.yml
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy

feat: Add text selection and copy functionality to WebTerminal component
  frontend/src/components/WebTerminal.tsx
  src/leropilot/resources/environment_installation_config.json
Due: eslint, prettier

feat: Remove text selection and copy functionality from WebTerminal component
  frontend/src/components/WebTerminal.tsx
Due: eslint, prettier

feat: Update WebTerminal scrollback setting and fix Windows activation script path
  frontend/src/components/WebTerminal.tsx
  src/leropilot/resources/environment_installation_config.json
Due: eslint, prettier

tmp
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/advanced-installation-page.tsx
  frontend/src/pages/environment-installation-page.tsx
  frontend/src/pages/environment-wizard.tsx
  frontend/src/pages/settings-page/sections/HuggingFaceSection.tsx
  pyproject.toml
  src/leropilot/resources/shells/shellIntegration-bash.sh
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/environment/executor.py
  src/leropilot/services/pty/session.py
  uv.lock
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Refactor WebTerminal cleanup logic and update PTY session initialization in executor
  frontend/src/components/WebTerminal.tsx
  frontend/src/pages/advanced-installation-page.tsx
  src/leropilot/services/environment/executor.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Implement terminal opening functionality with success/error handling
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/environment-list-page.tsx
  src/leropilot/models/api/environment.py
  src/leropilot/routers/environments_api.py
  src/leropilot/services/environment/__init__.py
  src/leropilot/services/environment/terminal.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Update Windows terminal opening logic to use 'start' command for new console window
  src/leropilot/services/environment/terminal.py
Due: ruff, ruff-format, mypy

test: Add Vitest setup and new tests for settings page, theme, and internationalization, replacing a sample test.
  docs/wiki/Installation-Guide.md
  docs/wiki/Installation-Guide_zh.md
  docs/wiki/Quick-Start.md
  docs/wiki/Quick-Start_zh.md
  frontend/src/components/WebTerminal.tsx
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/environment/executor.py
  src/leropilot/services/pty/session.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Introduce environment registry and path resolution services
  frontend/src/components/environments/wizard/step-name-config.tsx
  src/leropilot/core/__init__.py
  src/leropilot/logger.py
  src/leropilot/main.py
  src/leropilot/models/api/environment.py
  src/leropilot/routers/app_config_api.py
  src/leropilot/routers/environments_api.py
  src/leropilot/routers/repositories_api.py
  src/leropilot/routers/tools_api.py
  src/leropilot/services/config/__init__.py
  src/leropilot/services/config/installation.py
  src/leropilot/services/config/manager.py
  src/leropilot/services/environment/__init__.py
  src/leropilot/services/environment/executor.py
  src/leropilot/services/environment/installation.py
  src/leropilot/services/environment/manager.py
  src/leropilot/services/environment/registry.py
  src/leropilot/services/git/__init__.py
  src/leropilot/services/git/inspector.py
  src/leropilot/services/git/tools.py
  src/leropilot/services/hardware/__init__.py
  src/leropilot/services/hardware/gpu.py
  src/leropilot/services/i18n/__init__.py
  src/leropilot/services/i18n/service.py
  tests/test_preset_config.py
Due: ruff, ruff-format, mypy, eslint, prettier

Update build configuration: add permissions and modify publish settings
  .github/workflows/build-matrix.yml
  electron/builder.json
Due: prettier

feat: Add hardware management specification for robotic arms and cameras.
  docs/spec/hardware_management.md
Due: prettier

Implemented backend of the hardware management feature.
  examples/hardware/camera_capture.py
  examples/hardware/device_lifecycle.py
  examples/hardware/discovery.py
  examples/hardware/motor_protection.py
  examples/hardware/motor_scan.py
  examples/hardware/motor_telemetry.py
  examples/hardware/probe_connection.py
  examples/hardware/urdf_validator.py
  pyproject.toml
  scripts/verify_hardware_api.py
  src/leropilot/main.py
  src/leropilot/models/hardware.py
  src/leropilot/routers/hardware_api.py
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/git/inspector.py
  src/leropilot/services/hardware/calibration.py
  src/leropilot/services/hardware/camera.py
  src/leropilot/services/hardware/discovery.py
  src/leropilot/services/hardware/drivers/base.py
  src/leropilot/services/hardware/drivers/damiao.py
  src/leropilot/services/hardware/drivers/dynamixel.py
  src/leropilot/services/hardware/drivers/feetech.py
  src/leropilot/services/hardware/manager.py
  src/leropilot/services/hardware/motors.py
  src/leropilot/services/hardware/platform_adapter.py
  src/leropilot/services/hardware/robot_config.py
  src/leropilot/services/hardware/urdf_validator.py
  uv.lock
Due: ruff, ruff-format, mypy

udev: add video4linux support (group=video) and tests/docs
  docs/spec/hardware_management.md
  pyproject.toml
  scripts/verify_hardware_api.py
  src/leropilot/main.py
  src/leropilot/models/hardware.py
  src/leropilot/routers/hardware_api.py
  src/leropilot/routers/hardwares_api.py
  src/leropilot/routers/web_sockets_api.py
  src/leropilot/services/hardware/calibration.py
  src/leropilot/services/hardware/camera.py
  src/leropilot/services/hardware/cameras.py
  src/leropilot/services/hardware/discovery.py
  src/leropilot/services/hardware/drivers/feetech.py.backup
  src/leropilot/services/hardware/manager.py
  src/leropilot/services/hardware/motors.py
  src/leropilot/services/hardware/robot_config.py
  src/leropilot/services/hardware/robots.py
  src/leropilot/services/hardware/telemetry.py
  src/leropilot/services/hardware/urdf.py
  src/leropilot/services/hardware/urdf_validator.py
  tests/test_add_device_validation.py
  tests/test_cameras_api.py
  tests/test_discovery.py
  tests/test_discovery_add_flow.py
  tests/test_motor_spec_and_discover.py
  tests/test_resources_and_udev.py
  tests/test_telemetry_session.py
  tests/test_telemetry_session_control.py
  tests/test_telemetry_session_edgecases.py
  tests/test_telemetry_session_polling.py
  tests/test_urdf_api.py
  tests/test_urdf_parser.py
  tests/test_ws_telemetry_protection.py
  uv.lock
Due: ruff, ruff-format, mypy, prettier

feat: update styling and add Design System Preview page
  frontend/src/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/index.css
  frontend/src/pages/advanced-installation/components/AdvancedStepCard.tsx
  frontend/src/pages/advanced-installation/index.tsx
  frontend/src/pages/design-system/DesignSystemPreview.tsx
  frontend/src/pages/environment-installation/index.tsx
  frontend/src/pages/environment-list/components/EnvironmentCard.tsx
  frontend/src/pages/environment-list/index.tsx
  frontend/src/pages/environment-wizard/components/step-hardware-selection.tsx
  frontend/src/pages/environment-wizard/components/step-repo-selection.tsx
  frontend/src/pages/hardware-dashboard/components/RobotCard.tsx
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
  frontend/src/pages/hardware-dashboard/index.tsx
  frontend/src/pages/settings-page/sections/PyPISection.tsx
  frontend/src/pages/settings/components/GitSection.tsx
  frontend/src/pages/settings/components/RepositoriesSection.tsx
  frontend/src/pages/settings/index.tsx
Due: eslint, prettier

feat: update UI components with new design tokens and improve styling consistency across settings and installation pages
  frontend/src/components/repository-status-button.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/pages/advanced-installation-page.tsx
  frontend/src/pages/advanced-installation/components/CommandsEditor.tsx
  frontend/src/pages/environment-installation/components/InstallStepList.tsx
  frontend/src/pages/environment-installation/index.tsx
  frontend/src/pages/environment-wizard/components/step-extras-selection.tsx
  frontend/src/pages/environment-wizard/components/step-name-config.tsx
  frontend/src/pages/environment-wizard/components/step-review.tsx
  frontend/src/pages/environment-wizard/components/step-version-selection.tsx
  frontend/src/pages/environment-wizard/index.tsx
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
  frontend/src/pages/settings-page/sections/PyPISection.tsx
  frontend/src/pages/settings/components/AdvancedSection.tsx
  frontend/src/pages/settings/components/AppearanceSection.tsx
  frontend/src/pages/settings/components/HuggingFaceSection.tsx
  frontend/src/pages/settings/components/LanguageSection.tsx
  frontend/src/pages/settings/components/PathsSection.tsx
  frontend/src/pages/settings/components/RepositoriesSection.tsx
  frontend/tests/pages/settings-page.test.tsx
  frontend/tests/settings-theme-language.spec.ts
Due: eslint, prettier

feat: Enhance UI components with improved styles and new StatusBadge component
  frontend/index.html
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/confirm-dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/status-badge.tsx
  frontend/src/index.css
  frontend/src/layouts/dashboard-layout.tsx
  frontend/src/pages/design-system/DesignSystemPreview.tsx
  frontend/src/pages/environment-installation/components/InstallStepList.tsx
  frontend/src/pages/environment-list/components/EnvironmentCard.tsx
  frontend/src/pages/hardware-dashboard/components/StatusIcon.tsx
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
  frontend/src/pages/settings/index.tsx
Due: eslint, prettier

feat: Update UI components for improved styling and layout consistency across various pages
  frontend/src/components/repository-status-button.tsx
  frontend/src/components/ui/status-badge.tsx
  frontend/src/components/web-terminal.tsx
  frontend/src/index.css
  frontend/src/pages/environment-installation/components/InstallStepList.tsx
  frontend/src/pages/environment-list/components/EnvironmentCard.tsx
  frontend/src/pages/environment-list/index.tsx
  frontend/src/pages/hardware-dashboard/components/CameraCard.tsx
  frontend/src/pages/hardware-dashboard/components/RobotCard.tsx
  frontend/src/pages/hardware-dashboard/index.tsx
  frontend/src/pages/settings/index.tsx
Due: eslint, prettier

feat(settings): remove unsaved changes indicator from action buttons
  frontend/src/pages/settings/index.tsx
Due: eslint, prettier

feat(hardware): refactor RobotMotorDefinition id handling and improve robot saving logic
  src/leropilot/models/hardware.py
  src/leropilot/services/hardware/robots.py
  tests/test_robot_specs_wheels.py
Due: ruff, ruff-format, mypy

feat(hardware): add motor names to robot specifications for improved clarity
  src/leropilot/resources/robot_specs.json
Due: prettier

Add new robot models and update tests for drive modes
  frontend/src/types/hardware.ts
  src/leropilot/models/hardware.py
  src/leropilot/resources/motor_specs.json.old
  src/leropilot/resources/robot_specs.json
  src/leropilot/resources/robots/koch-follower/robot.urdf
  src/leropilot/resources/robots/so100-follower/meshes/Base.stl
  src/leropilot/resources/robots/so100-follower/meshes/Base_Motor.stl
  src/leropilot/resources/robots/so100-follower/meshes/Fixed_Jaw.stl
  src/leropilot/resources/robots/so100-follower/meshes/Fixed_Jaw_Motor.stl
  src/leropilot/resources/robots/so100-follower/meshes/Lower_Arm.stl
  src/leropilot/resources/robots/so100-follower/meshes/Lower_Arm_Motor.stl
  src/leropilot/resources/robots/so100-follower/meshes/Moving_Jaw.stl
  src/leropilot/resources/robots/so100-follower/meshes/Rotation_Pitch.stl
  src/leropilot/resources/robots/so100-follower/meshes/Rotation_Pitch_Motor.stl
  src/leropilot/resources/robots/so100-follower/meshes/Upper_Arm.stl
  src/leropilot/resources/robots/so100-follower/meshes/Upper_Arm_Motor.stl
  src/leropilot/resources/robots/so100-follower/meshes/Wrist_Pitch_Roll.stl
  src/leropilot/resources/robots/so100-follower/meshes/Wrist_Pitch_Roll_Motor.stl
  src/leropilot/resources/robots/so100-follower/robot.urdf
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/base_motor_holder_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/base_so101_v2.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/motor_holder_so101_base_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/motor_holder_so101_wrist_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/moving_jaw_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/rotation_pitch_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/sts3215_03a_no_horn_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/sts3215_03a_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/under_arm_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/upper_arm_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/waveshare_mounting_plate_so101_v2.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/wrist_roll_follower_so101_v1.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/meshes/wrist_roll_pitch_so101_v2.stl
  src/leropilot/resources/robots/so101-follower-low-voltage/robot.urdf
  tests/test_hopejr_hand_drive_mode.py
  tests/test_koch_follower_drive_mode.py
  tests/test_koch_leader_drive_mode.py
  tests/test_omx_drive_mode.py
  tests/test_robot_definition_device_category.py
  tests/test_robot_motor_definition.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat: Enhance modal functionality and add motor settings management
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/index.css
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/hardware-dashboard/components/RobotCard.tsx
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
  frontend/src/types/hardware.ts
  src/leropilot/resources/i18n.json
  src/leropilot/resources/robots/koch-follower/thumbnail.png
  src/leropilot/resources/robots/lekiwi-base-3wheel/thumbnail.png
  src/leropilot/resources/robots/so100-follower/thumbnail.png
  src/leropilot/resources/robots/so101-follower-high-voltage/thumbnail.png
  src/leropilot/resources/robots/so101-follower-low-voltage/thumbnail.png
  src/leropilot/routers/hardwares_api.py
  src/leropilot/services/hardware/robots.py
Due: ruff, ruff-format, mypy, eslint, prettier

feat(hardware): localize robot name prefix in add robot modal
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
Due: eslint, prettier

refactor: lowercase component filenames in hardware-dashboard/components
  frontend/src/locales/en.json
  frontend/src/locales/zh.json
  frontend/src/pages/hardware-dashboard/components/add-robot-modal.tsx
  frontend/src/pages/hardware-dashboard/components/camera-card.tsx
  frontend/src/pages/hardware-dashboard/components/camera-preview.tsx
  frontend/src/pages/hardware-dashboard/components/edit-robot-modal.tsx
  frontend/src/pages/hardware-dashboard/components/loading-skeleton.tsx
  frontend/src/pages/hardware-dashboard/components/robot-card.tsx
  frontend/src/pages/hardware-dashboard/components/status-icon.tsx
  frontend/src/pages/hardware-dashboard/index.tsx
Due: eslint, prettier

feat(robot): prevent two-finger scroll from triggering zoom in OrbitControls
  frontend/src/components/robot-viewer/robot-canvas.tsx
Due: eslint, prettier

feat(robot): add calibration support to RobotViewer and RobotCanvas components
  frontend/src/components/robot-viewer/index.tsx
  frontend/src/components/robot-viewer/robot-canvas.tsx
  frontend/src/pages/hardware-calibration/index.tsx
  src/leropilot/services/hardware/motor_buses/dynamixel_motor_bus.py
  src/leropilot/services/hardware/motor_buses/feetech_motor_bus.py
Due: ruff, ruff-format, mypy, eslint, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  eslint: any of: \.(js|ts|jsx|tsx)$
  prettier: any of: \.(js|ts|jsx|tsx|json|css|scss|md)$
